/* font */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --venue: #707070;
  --white: #ffffff;
  --background: #f3f3f3;
  --darkGrey: #333333;
  --black: #232323;
  --activeState: #fb8b24;

  --h1color: #012e40;
  --iconColor: #024959;
  --venueIcons: #026773;
  --navBar: #3ca6a6;
  --largeSpacing: 2rem;
  --stndSpacing: 1rem;
  --borderRadius: 35px;
  --borderRadiumSmall: 10px;
  --borderRadiumSmall: 15px;
  --headerColor: #012e40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5rem;
  font-size: 1.3rem;
  padding: 0;
  margin: 0 auto;
  background-color: var(--background);
}

main {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: normal;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

h3 {
  font-family: "Fraunces", serif;
  font-weight: 600;
}

h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

p {
  text-wrap: pretty;
  max-width: 75ch;
  margin-bottom: 2rem;
  line-height: 130%;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input,
form {
  font: inherit;
}

nav {
  bottom: 0%;
  position: fixed;
  margin: 0;
  padding: 15px 0 0 0;
  background-color: #3ca6a6;
  height: 100px;
  width: 100%;
  display: flex;
  gap: 1rem;
  text-align: center;
}
nav a {
  font-size: 1rem;
  color: #024959;
}
nav i {
  font-size: 34px;
  color: #024959;
}

nav p {
  margin: unset;
  padding: unset;
  line-height: unset;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#map iframe {
  height: 100vh;
  width: 100vw;
}

/* Accordians */


.infoOverskrift {
  color: var(--h1color);
  text-align: center;
  font-size: 3rem;
  padding: var(--largeSpacing);
}
.infoContainerSingleBorder {
  border-bottom: 3px solid var(--activeState);
}
.infoContainerDoubleBorder {
  border-top: 3px solid var(--activeState);
  border-bottom: 3px solid var(--activeState);
}

.accordianSide {
  width: 85%;
  margin: 0 auto;
}
.accordianSide ul {
 list-style-type: none;
}

summary {
  padding: .5rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
summary:after{
  content: "\2BC6";
  font-size: 2rem;
  color: var(--activeState);
}

details[open] summary:after{
  content: "\2BC5";
  font-size: 2rem;
  color: var(--activeState);
}

.accordians {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: solid 2px var(--activeState);
  border-bottom: solid 2px var(--activeState);
}
button.accordians {
  margin-top: 20px;
}

.tekstAccordians {
  margin-top: 10px;
  overflow: hidden;
  display: none;
}
p-margin .lastAccordian {
  margin-bottom: 9rem;
}
.lastAccordianButton {
  margin-bottom: 9rem;
}

main .accordianSide {

  margin: 2rem 2rem;
}
#footerInfo {
  margin-top: 120px;
}

/*# sourceMappingURL=style.css.map */

/* Nyhedscards */
.nyhederOverskrift {
  color: var(--h1color);
  text-align: center;
  font-size: 3rem;
  padding: var(--largeSpacing);
  text-align: center;
  font-size: 3rem;
  padding: var(--largeSpacing);
  padding-top: 50px;
}
.nyhedCards {
  margin-top: 50px;
  margin: 25px 25px;
  background-color: white;
  padding: var(--stndSpacing);
  border-radius: 10px;
}

.last {
  margin-bottom: 9rem;
}

.nyhedCards h3,
.nyhedCards p {
  padding: 10px 20px;
}
.nyhedCards button {
  background-color: white;
  color: var(--activeState);
  border: 3px solid var(--activeState);
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: bold;
}

.centerButton {
  text-align: center;
}
#footerNyheder {
  margin-top: 150px;
}
/* Nyheds artikel */
.artikelHeader {
  position: relative;
}
.artikel {
  margin: 25px 25px;
}
#back_button {
  position: absolute;
  top: 5px;
  z-index: 1;
}
.artikelHeader img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.artikel h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main {
  padding-bottom: 100px;
}
/*# sourceMappingURL=style.css.map */

/* program start */
/* daypicker and heading */

.headingOne h1 {
  color: var(--h1color);
  text-align: center;
  font-size: 3rem;
  padding: var(--largeSpacing);
  padding-top: 57px; 
}

.marginButtom {
  margin-bottom: 9rem;
}

.dayPickerContainer {
  display: flex;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.option {
  width: 40vw;
  height: 8vh;
  border-radius: var(--borderRadiumSmall);
  border: 4px solid #fb8b24;
  color: #fb8b24;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  transition: 0.2s ease-in-out;
}

/* program list */
.programListContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.programList li {
  list-style-type: none;
  display: flex;
  font-weight: 700;
}

.programList li p {
  margin-left: 0.5rem;
  font-weight: 400;
}

.programList h2 {
  font-family: "Noto Sans", sans-serif;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--h1color);
}

.programList h3 {
  font-family: "Noto Sans", sans-serif;
  color: var(--activeState);
  text-decoration: underline;
  margin-bottom: 1rem;
}

.programList i {
  color: var(--iconColor);
  padding: 0 0.5rem;
  font-size: 1.7rem;
  text-decoration: none;
}
/* program slut */

/* info om scenerne */
.backButton {
  padding-top: var(--largeSpacing);
}

.backButton1 {
  position: absolute;
  left: 7%;
  top: 7%;
}

#back_button {
  margin: var(--stndSpacing);
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textContainer h1 {
  color: var(--h1color);
  font-size: 3rem;
  padding: 2rem 0;
  line-height: 4rem;
}

.textContainer p {
  font-size: 1.6rem;
  line-height: 2rem;
}
/*LINE-UP side styles */

.artistEntryPointContainer {
  margin: 0 auto;
}

.artistEntryPoint {
  height: 150px;
  width: 85vw;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.artistName {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Fraunces", serif;
  margin: 0;
  line-height: 2rem;
}

.bigCreek {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/BigCreekSlim.jpg);
}

.creoleCatz {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/creole_catz.jpg);
  background-position: top;
}

.downshifters {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/downshifters.jpg);
}
.heroya {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/heroya_musikkorps.jpg);
  line-height: 3px;
}
.iceMo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/IceMoTheZydecoolers.jpg);
  background-position: top;
}
.ismoHaavisto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Ismo\ Haavisto\ ComboI.jpg);
}
.jimi {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Jimi\ And\ Double\ Of\ Trouble.jpg);
}
.joyfulGumbo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/joyful_gumbo.jpg);
}
.kant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/kant.jpg);
}
.line {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/LineMortensenTrio.jpg);
}
.swingband {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/P.S_swingband.jpg);
}
.samantha {
  background-position: center -250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/samantha_smith_trio.jpg);
}
.tim {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/TimLotharogPeterNande.jpg);
}
.togo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/TogoRhino.jpg);
}
.tomi {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/tommy_leino_trio.jpg);
}
.twang {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Twang.jpg);
}
.uni {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Uni\ Debess\ Band.jpg);
}
.vulkan {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Vulkan.jpg);
  background-position: top;
}
.wash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Wash\ &\ Kjær.jpg);
  margin-bottom: 9rem;
}

/* Artist bio sider */
/* header */
.imgStyling {
  height: 250px;
  width: 100vw;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: var(--largeSpacing);
}

p-margin #programIkon i {
  color: #fb8b24;
}
#programIkon {
  color: #fb8b24;
}

.backBotton {
  position: absolute;
  top: 2rem;
  left: 1rem;
}

.bigCreek2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/BigCreekSlim.jpg);
}

#programIkon i {
  color: #fb8b24;
}
#programIkon {
  color: #fb8b24;
}

.bigCreek2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/BigCreekSlim.jpg);
}
.creoleCatz2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/creole_catz.jpg);
}
.downshifters2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/downshifters.jpg);
}
.heroya2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/heroya_musikkorps.jpg);
}
.iceMo2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/IceMoTheZydecoolers.jpg);
}
.ismoHaavisto2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Ismo\ Haavisto\ ComboI.jpg);
}
.jimi2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Jimi\ And\ Double\ Of\ Trouble.jpg);
}
.gumbo2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/joyful_gumbo.jpg);
}
.kant2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/kant.jpg);
}
.line2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/LineMortensenTrio.jpg);
}
.swingband2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/P.S_swingband.jpg);
}
.tim2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/TimLotharogPeterNande.jpg);
}
.togo2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/TogoRhino.jpg);
}
.samantha2 {
  background-position: center -250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/samantha_smith_trio.jpg);
}
.tomi2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/tommy_leino_trio.jpg);
}
.twang2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Twang.jpg);
}
.uni2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Uni\ Debess\ Band.jpg);
}
.vulkan2 {
  background-position: center -10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Vulkan.jpg);
}
.wash2 {
  background-position: center -10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)),
    url(../img/line-up_billeder/Wash\ &\ Kjær.jpg);
}

/* main */
.artistTextContainer h2 {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5rem;
  color: var(--venue);
  font-size: 1rem;
}
.artistTextContainer h1 {
  margin-bottom: var(--stndSpacing);
  font-size: 2rem;
  line-height: 2rem;
  color: var(--headerColor);
}
.artistTextContainer p:last-of-type {
  margin-bottom: 9rem;
}
.artikel p {
  margin-bottom: 1;
}